# Configurações do Servidor HTTP
PORT=3001
NODE_ENV=development

# Configurações de Conexão com o Banco de Dados MySQL
DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=alunolab
DB_NAME=ms2vest.db

# Configurações de Segurança e JWT (Para Sprint 3)
JWT_SECRET=ms2_vestuario_secret_token_chave_super_segura_2026
JWT_EXPIRES_IN=8h
